<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mao.dag.dal.dao.ConfigMapper">
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Config">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="biz_code" jdbcType="INTEGER" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="processor" jdbcType="VARCHAR" property="processor" />
    <result column="config_info" jdbcType="VARCHAR" property="configInfo" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="child_code" jdbcType="VARCHAR" property="childCode" />
    <result column="node_loc" jdbcType="VARCHAR" property="nodeLoc" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Config">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into config (biz_code, config_code, processor, 
      config_info, parent_code, child_code, 
      node_loc, `valid`)
    values (#{bizCode,jdbcType=INTEGER}, #{configCode,jdbcType=INTEGER}, #{processor,jdbcType=VARCHAR}, 
      #{configInfo,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{childCode,jdbcType=VARCHAR}, 
      #{nodeLoc,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Config">
    update config
    set biz_code = #{bizCode,jdbcType=INTEGER},
      config_code = #{configCode,jdbcType=INTEGER},
      processor = #{processor,jdbcType=VARCHAR},
      config_info = #{configInfo,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      child_code = #{childCode,jdbcType=VARCHAR},
      node_loc = #{nodeLoc,jdbcType=VARCHAR},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Config">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="biz_code" jdbcType="INTEGER" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="processor" jdbcType="VARCHAR" property="processor" />
    <result column="config_info" jdbcType="VARCHAR" property="configInfo" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="child_code" jdbcType="VARCHAR" property="childCode" />
    <result column="node_loc" jdbcType="VARCHAR" property="nodeLoc" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Config">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into config (biz_code, config_code, processor, 
      config_info, parent_code, child_code, 
      node_loc, `valid`)
    values (#{bizCode,jdbcType=INTEGER}, #{configCode,jdbcType=INTEGER}, #{processor,jdbcType=VARCHAR}, 
      #{configInfo,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{childCode,jdbcType=VARCHAR}, 
      #{nodeLoc,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Config">
    update config
    set biz_code = #{bizCode,jdbcType=INTEGER},
      config_code = #{configCode,jdbcType=INTEGER},
      processor = #{processor,jdbcType=VARCHAR},
      config_info = #{configInfo,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      child_code = #{childCode,jdbcType=VARCHAR},
      node_loc = #{nodeLoc,jdbcType=VARCHAR},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Config">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="biz_code" jdbcType="INTEGER" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="processor" jdbcType="VARCHAR" property="processor" />
    <result column="config_info" jdbcType="VARCHAR" property="configInfo" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="child_code" jdbcType="VARCHAR" property="childCode" />
    <result column="node_loc" jdbcType="VARCHAR" property="nodeLoc" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Config">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into config (biz_code, config_code, processor, 
      config_info, parent_code, child_code, 
      node_loc, `valid`)
    values (#{bizCode,jdbcType=INTEGER}, #{configCode,jdbcType=INTEGER}, #{processor,jdbcType=VARCHAR}, 
      #{configInfo,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{childCode,jdbcType=VARCHAR}, 
      #{nodeLoc,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Config">
    update config
    set biz_code = #{bizCode,jdbcType=INTEGER},
      config_code = #{configCode,jdbcType=INTEGER},
      processor = #{processor,jdbcType=VARCHAR},
      config_info = #{configInfo,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      child_code = #{childCode,jdbcType=VARCHAR},
      node_loc = #{nodeLoc,jdbcType=VARCHAR},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Config">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="biz_code" jdbcType="INTEGER" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="processor" jdbcType="VARCHAR" property="processor" />
    <result column="config_info" jdbcType="VARCHAR" property="configInfo" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="child_code" jdbcType="VARCHAR" property="childCode" />
    <result column="node_loc" jdbcType="VARCHAR" property="nodeLoc" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Config">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into config (biz_code, config_code, processor, 
      config_info, parent_code, child_code, 
      node_loc, `valid`)
    values (#{bizCode,jdbcType=INTEGER}, #{configCode,jdbcType=INTEGER}, #{processor,jdbcType=VARCHAR}, 
      #{configInfo,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{childCode,jdbcType=VARCHAR}, 
      #{nodeLoc,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Config">
    update config
    set biz_code = #{bizCode,jdbcType=INTEGER},
      config_code = #{configCode,jdbcType=INTEGER},
      processor = #{processor,jdbcType=VARCHAR},
      config_info = #{configInfo,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      child_code = #{childCode,jdbcType=VARCHAR},
      node_loc = #{nodeLoc,jdbcType=VARCHAR},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Config">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="biz_code" jdbcType="INTEGER" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="processor" jdbcType="VARCHAR" property="processor" />
    <result column="config_info" jdbcType="VARCHAR" property="configInfo" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="child_code" jdbcType="VARCHAR" property="childCode" />
    <result column="node_loc" jdbcType="VARCHAR" property="nodeLoc" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Config">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into config (biz_code, config_code, processor, 
      config_info, parent_code, child_code, 
      node_loc, `valid`)
    values (#{bizCode,jdbcType=INTEGER}, #{configCode,jdbcType=INTEGER}, #{processor,jdbcType=VARCHAR}, 
      #{configInfo,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{childCode,jdbcType=VARCHAR}, 
      #{nodeLoc,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Config">
    update config
    set biz_code = #{bizCode,jdbcType=INTEGER},
      config_code = #{configCode,jdbcType=INTEGER},
      processor = #{processor,jdbcType=VARCHAR},
      config_info = #{configInfo,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      child_code = #{childCode,jdbcType=VARCHAR},
      node_loc = #{nodeLoc,jdbcType=VARCHAR},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Config">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="biz_code" jdbcType="INTEGER" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="processor" jdbcType="VARCHAR" property="processor" />
    <result column="config_info" jdbcType="VARCHAR" property="configInfo" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="child_code" jdbcType="VARCHAR" property="childCode" />
    <result column="node_loc" jdbcType="VARCHAR" property="nodeLoc" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Config">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into config (biz_code, config_code, processor, 
      config_info, parent_code, child_code, 
      node_loc, `valid`)
    values (#{bizCode,jdbcType=INTEGER}, #{configCode,jdbcType=INTEGER}, #{processor,jdbcType=VARCHAR}, 
      #{configInfo,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{childCode,jdbcType=VARCHAR}, 
      #{nodeLoc,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Config">
    update config
    set biz_code = #{bizCode,jdbcType=INTEGER},
      config_code = #{configCode,jdbcType=INTEGER},
      processor = #{processor,jdbcType=VARCHAR},
      config_info = #{configInfo,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      child_code = #{childCode,jdbcType=VARCHAR},
      node_loc = #{nodeLoc,jdbcType=VARCHAR},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Config">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="biz_code" jdbcType="INTEGER" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="processor" jdbcType="VARCHAR" property="processor" />
    <result column="config_info" jdbcType="VARCHAR" property="configInfo" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="child_code" jdbcType="VARCHAR" property="childCode" />
    <result column="node_loc" jdbcType="VARCHAR" property="nodeLoc" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Config">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into config (biz_code, config_code, processor, 
      config_info, parent_code, child_code, 
      node_loc, `valid`)
    values (#{bizCode,jdbcType=INTEGER}, #{configCode,jdbcType=INTEGER}, #{processor,jdbcType=VARCHAR}, 
      #{configInfo,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{childCode,jdbcType=VARCHAR}, 
      #{nodeLoc,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Config">
    update config
    set biz_code = #{bizCode,jdbcType=INTEGER},
      config_code = #{configCode,jdbcType=INTEGER},
      processor = #{processor,jdbcType=VARCHAR},
      config_info = #{configInfo,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      child_code = #{childCode,jdbcType=VARCHAR},
      node_loc = #{nodeLoc,jdbcType=VARCHAR},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Config">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="biz_code" jdbcType="INTEGER" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="processor" jdbcType="VARCHAR" property="processor" />
    <result column="config_info" jdbcType="VARCHAR" property="configInfo" />
    <result column="parent_code" jdbcType="VARCHAR" property="parentCode" />
    <result column="child_code" jdbcType="VARCHAR" property="childCode" />
    <result column="node_loc" jdbcType="VARCHAR" property="nodeLoc" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from config
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Config">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into config (biz_code, config_code, processor, 
      config_info, parent_code, child_code, 
      node_loc, `valid`)
    values (#{bizCode,jdbcType=INTEGER}, #{configCode,jdbcType=INTEGER}, #{processor,jdbcType=VARCHAR}, 
      #{configInfo,jdbcType=VARCHAR}, #{parentCode,jdbcType=VARCHAR}, #{childCode,jdbcType=VARCHAR}, 
      #{nodeLoc,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Config">
    update config
    set biz_code = #{bizCode,jdbcType=INTEGER},
      config_code = #{configCode,jdbcType=INTEGER},
      processor = #{processor,jdbcType=VARCHAR},
      config_info = #{configInfo,jdbcType=VARCHAR},
      parent_code = #{parentCode,jdbcType=VARCHAR},
      child_code = #{childCode,jdbcType=VARCHAR},
      node_loc = #{nodeLoc,jdbcType=VARCHAR},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, biz_code, config_code, processor, config_info, parent_code, child_code, 
    node_loc, `valid`
    from config
  </select>
</mapper>