<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mao.dag.dal.dao.StageMapper">
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Stage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="biz_code" jdbcType="VARCHAR" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="stage_no" jdbcType="VARCHAR" property="stageNo" />
    <result column="plan_time" jdbcType="BIGINT" property="planTime" />
    <result column="pause" jdbcType="INTEGER" property="pause" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from stage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Stage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stage (job_id, biz_code, config_code, 
      stage_no, plan_time, pause, 
      `valid`)
    values (#{jobId,jdbcType=BIGINT}, #{bizCode,jdbcType=VARCHAR}, #{configCode,jdbcType=INTEGER}, 
      #{stageNo,jdbcType=VARCHAR}, #{planTime,jdbcType=BIGINT}, #{pause,jdbcType=INTEGER}, 
      #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Stage">
    update stage
    set job_id = #{jobId,jdbcType=BIGINT},
      biz_code = #{bizCode,jdbcType=VARCHAR},
      config_code = #{configCode,jdbcType=INTEGER},
      stage_no = #{stageNo,jdbcType=VARCHAR},
      plan_time = #{planTime,jdbcType=BIGINT},
      pause = #{pause,jdbcType=INTEGER},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Stage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="biz_code" jdbcType="VARCHAR" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="stage_no" jdbcType="VARCHAR" property="stageNo" />
    <result column="plan_time" jdbcType="BIGINT" property="planTime" />
    <result column="pause" jdbcType="INTEGER" property="pause" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from stage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Stage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stage (job_id, biz_code, config_code, 
      stage_no, plan_time, pause, 
      `valid`)
    values (#{jobId,jdbcType=BIGINT}, #{bizCode,jdbcType=VARCHAR}, #{configCode,jdbcType=INTEGER}, 
      #{stageNo,jdbcType=VARCHAR}, #{planTime,jdbcType=BIGINT}, #{pause,jdbcType=INTEGER}, 
      #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Stage">
    update stage
    set job_id = #{jobId,jdbcType=BIGINT},
      biz_code = #{bizCode,jdbcType=VARCHAR},
      config_code = #{configCode,jdbcType=INTEGER},
      stage_no = #{stageNo,jdbcType=VARCHAR},
      plan_time = #{planTime,jdbcType=BIGINT},
      pause = #{pause,jdbcType=INTEGER},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Stage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="biz_code" jdbcType="VARCHAR" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="stage_no" jdbcType="VARCHAR" property="stageNo" />
    <result column="plan_time" jdbcType="BIGINT" property="planTime" />
    <result column="pause" jdbcType="INTEGER" property="pause" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from stage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Stage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stage (job_id, biz_code, config_code, 
      stage_no, plan_time, pause, 
      `valid`)
    values (#{jobId,jdbcType=BIGINT}, #{bizCode,jdbcType=VARCHAR}, #{configCode,jdbcType=INTEGER}, 
      #{stageNo,jdbcType=VARCHAR}, #{planTime,jdbcType=BIGINT}, #{pause,jdbcType=INTEGER}, 
      #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Stage">
    update stage
    set job_id = #{jobId,jdbcType=BIGINT},
      biz_code = #{bizCode,jdbcType=VARCHAR},
      config_code = #{configCode,jdbcType=INTEGER},
      stage_no = #{stageNo,jdbcType=VARCHAR},
      plan_time = #{planTime,jdbcType=BIGINT},
      pause = #{pause,jdbcType=INTEGER},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Stage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="biz_code" jdbcType="VARCHAR" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="stage_no" jdbcType="VARCHAR" property="stageNo" />
    <result column="plan_time" jdbcType="BIGINT" property="planTime" />
    <result column="pause" jdbcType="INTEGER" property="pause" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from stage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Stage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stage (job_id, biz_code, config_code, 
      stage_no, plan_time, pause, 
      `valid`)
    values (#{jobId,jdbcType=BIGINT}, #{bizCode,jdbcType=VARCHAR}, #{configCode,jdbcType=INTEGER}, 
      #{stageNo,jdbcType=VARCHAR}, #{planTime,jdbcType=BIGINT}, #{pause,jdbcType=INTEGER}, 
      #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Stage">
    update stage
    set job_id = #{jobId,jdbcType=BIGINT},
      biz_code = #{bizCode,jdbcType=VARCHAR},
      config_code = #{configCode,jdbcType=INTEGER},
      stage_no = #{stageNo,jdbcType=VARCHAR},
      plan_time = #{planTime,jdbcType=BIGINT},
      pause = #{pause,jdbcType=INTEGER},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Stage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="biz_code" jdbcType="VARCHAR" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="stage_no" jdbcType="VARCHAR" property="stageNo" />
    <result column="plan_time" jdbcType="BIGINT" property="planTime" />
    <result column="pause" jdbcType="INTEGER" property="pause" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from stage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Stage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stage (job_id, biz_code, config_code, 
      stage_no, plan_time, pause, 
      `valid`)
    values (#{jobId,jdbcType=BIGINT}, #{bizCode,jdbcType=VARCHAR}, #{configCode,jdbcType=INTEGER}, 
      #{stageNo,jdbcType=VARCHAR}, #{planTime,jdbcType=BIGINT}, #{pause,jdbcType=INTEGER}, 
      #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Stage">
    update stage
    set job_id = #{jobId,jdbcType=BIGINT},
      biz_code = #{bizCode,jdbcType=VARCHAR},
      config_code = #{configCode,jdbcType=INTEGER},
      stage_no = #{stageNo,jdbcType=VARCHAR},
      plan_time = #{planTime,jdbcType=BIGINT},
      pause = #{pause,jdbcType=INTEGER},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Stage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="biz_code" jdbcType="VARCHAR" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="stage_no" jdbcType="VARCHAR" property="stageNo" />
    <result column="plan_time" jdbcType="BIGINT" property="planTime" />
    <result column="pause" jdbcType="INTEGER" property="pause" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from stage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Stage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stage (job_id, biz_code, config_code, 
      stage_no, plan_time, pause, 
      `valid`)
    values (#{jobId,jdbcType=BIGINT}, #{bizCode,jdbcType=VARCHAR}, #{configCode,jdbcType=INTEGER}, 
      #{stageNo,jdbcType=VARCHAR}, #{planTime,jdbcType=BIGINT}, #{pause,jdbcType=INTEGER}, 
      #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Stage">
    update stage
    set job_id = #{jobId,jdbcType=BIGINT},
      biz_code = #{bizCode,jdbcType=VARCHAR},
      config_code = #{configCode,jdbcType=INTEGER},
      stage_no = #{stageNo,jdbcType=VARCHAR},
      plan_time = #{planTime,jdbcType=BIGINT},
      pause = #{pause,jdbcType=INTEGER},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Stage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="biz_code" jdbcType="VARCHAR" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="stage_no" jdbcType="VARCHAR" property="stageNo" />
    <result column="plan_time" jdbcType="BIGINT" property="planTime" />
    <result column="pause" jdbcType="INTEGER" property="pause" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from stage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Stage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stage (job_id, biz_code, config_code, 
      stage_no, plan_time, pause, 
      `valid`)
    values (#{jobId,jdbcType=BIGINT}, #{bizCode,jdbcType=VARCHAR}, #{configCode,jdbcType=INTEGER}, 
      #{stageNo,jdbcType=VARCHAR}, #{planTime,jdbcType=BIGINT}, #{pause,jdbcType=INTEGER}, 
      #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Stage">
    update stage
    set job_id = #{jobId,jdbcType=BIGINT},
      biz_code = #{bizCode,jdbcType=VARCHAR},
      config_code = #{configCode,jdbcType=INTEGER},
      stage_no = #{stageNo,jdbcType=VARCHAR},
      plan_time = #{planTime,jdbcType=BIGINT},
      pause = #{pause,jdbcType=INTEGER},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
  </select>
  <resultMap id="BaseResultMap" type="com.mao.dag.dal.entity.Stage">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="job_id" jdbcType="BIGINT" property="jobId" />
    <result column="biz_code" jdbcType="VARCHAR" property="bizCode" />
    <result column="config_code" jdbcType="INTEGER" property="configCode" />
    <result column="stage_no" jdbcType="VARCHAR" property="stageNo" />
    <result column="plan_time" jdbcType="BIGINT" property="planTime" />
    <result column="pause" jdbcType="INTEGER" property="pause" />
    <result column="valid" jdbcType="INTEGER" property="valid" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from stage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mao.dag.dal.entity.Stage">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into stage (job_id, biz_code, config_code, 
      stage_no, plan_time, pause, 
      `valid`)
    values (#{jobId,jdbcType=BIGINT}, #{bizCode,jdbcType=VARCHAR}, #{configCode,jdbcType=INTEGER}, 
      #{stageNo,jdbcType=VARCHAR}, #{planTime,jdbcType=BIGINT}, #{pause,jdbcType=INTEGER}, 
      #{valid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.mao.dag.dal.entity.Stage">
    update stage
    set job_id = #{jobId,jdbcType=BIGINT},
      biz_code = #{bizCode,jdbcType=VARCHAR},
      config_code = #{configCode,jdbcType=INTEGER},
      stage_no = #{stageNo,jdbcType=VARCHAR},
      plan_time = #{planTime,jdbcType=BIGINT},
      pause = #{pause,jdbcType=INTEGER},
      `valid` = #{valid,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, job_id, biz_code, config_code, stage_no, plan_time, pause, `valid`
    from stage
  </select>
</mapper>